.container {
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 200, 200);
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  padding: 2rem;
}

.tableCRUD {
  width: 100%;
  border-collapse: collapse;
}

.theadCRUD {
}

.trTheadCRUD {
}

.thCRUD {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1rem;
  text-align: left;
}

.TbodyCRUD {
}

.trTbodyCRUD {
  margin: 0;
  padding: 0;
}

.tdCRUD {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: left;
}

.ContentButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttonEdit {
  padding: 0.5rem 1rem;
  background-color: rgb(42, 139, 47);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
  cursor: pointer;
}

.buttonDel {
  padding: 0.5rem 1rem;
  background-color: rgb(194, 23, 23);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
  cursor: pointer;
}

.buttonDel:hover {
  background-color: rgb(108, 45, 150);
}

.buttonEdit:hover {
  background-color: rgb(199, 102, 139);
}

.buttonAdd {
  margin-top: 21.44px;
  padding: 0.5rem 1rem;
  background-color: rgb(42, 139, 47);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
  cursor: pointer;
}

.buttonAdd:hover {
  background-color: rgb(199, 102, 139);
}
